.header-1 {
    color: $main-black;
    font-size: 15rem;
    font-family: $main-font;
	font-weight: 700px;
	@media (max-width: $first-breakpoint) {
		font-size: 10rem;
	}
	@media (max-width: $second-breakpoint) {
		font-size:8rem;
	}
	@media (max-width: $fourth-breakpoint) {
		font-size: 5rem;;
	}
}
.header-2 {
  color: $main-black;
	font-size: 8rem;
	margin: 0;
	@media (max-width: $first-breakpoint) {
		font-size: 5rem;
		margin: 0;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 4rem;
	}
}
.header-3 {
	color: $main-black;
	font-size: 6rem;
	letter-spacing: 1px;
	font-weight: 500;
	margin: 15px 0;
	@media (max-width: $first-breakpoint) {
		font-size: 4rem;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 2rem;
	}
}
.header-4 {
	color: $light-grey;
	font-size: 3rem;
	font-weight: 400px;
	text-transform: uppercase;
	letter-spacing: 2px;
	@media (max-width: $first-breakpoint) {
		font-size: 2rem;
		margin: 20px 0 10px 0;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 1.6rem;
	}
}
.paragraph {
	font-family: $main-font;
	color: $main-black;
	font-size: 3rem;
	line-height: 1.6;
	@media (max-width: $first-breakpoint) {
		font-size: 2.5rem;
	}
	@media (max-width: $second-breakpoint) {
		font-size: 2rem;
		line-height: 1.8;
	}
	@media (max-width: $second-breakpoint) {
		font-size: 1.8rem;
	}
	@media (max-width: $fourth-breakpoint) {
		font-size: 1.6rem;;
	}
	&--uppercase {
		@extend %--uppercase;
		@media (max-width: $first-breakpoint) {
			margin: 0;
		}	
	}
	&--large {
		font-size: 7rem;
		line-height: 1.6;
		@media (max-width: $first-breakpoint) {
			font-size: 5rem;
			line-height: 1.6
		}	
		@media (max-width: $third-breakpoint) {
			font-size: 3rem;
		}
	}
	&--small {
		font-size: 2rem;
		@media (max-width: $first-breakpoint) {
			font-size: 1rem;
		}
	}
	&--light {
		color: $light-grey;
	}
	&--smaller {
		font-size: 3rem;
		color: $main-grey;
		line-height: 1.6;
		letter-spacing: 1px;
		@media (max-width: $first-breakpoint) {
			font-size: 2rem;
		}
		@media (max-width: $third-breakpoint) {
			font-size: 1.6rem;
		}
	}
}
.social__item {
    font-family: $secondary-font;
    font-size: 1.6rem;
}
.list__item {
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 3;
	&--light {
		color: $light-grey;
	}
	&--active {
		color: $main-black;
	}
	&__link:hover {
		color: $red;
	}
	@media (max-width: $first-breakpoint) {
		font-size: 1.5rem;
	}
	@media (max-width: $second-breakpoint) {
		font-size: 1.4rem;
		line-height: 2.5;
	}
}
.fa-js-square, .fa-sass, .fa-react, .fa-git, .fa-gulp, .fa-html5, .fa-css3, .fa-github, .fa-twitter, .fa-linkedin, .fa-js, .fa-envelope, .fa-medium {
	font-size: 8rem;
	@media (max-width: $first-breakpoint) {
		font-size: 6rem;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 4rem;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 3rem;
	}
}
.input__text {
	font-size: 5rem;
	line-height: 1.8;
	@media (max-width: $first-breakpoint) {
		font-size: 4rem;
	}
	@media (max-width: $third-breakpoint) {
		font-size: 2rem;
	}
}
.menu__item {
	color: $white;
	font-size: 5rem;
	line-height: 1.6;
	@media (max-width: $third-breakpoint) {
		font-size: 3rem;
	}
}
.fa-bars, .close-btn {
	font-size: 8rem;
	@media (max-width: $first-breakpoint) {
		font-size: 6rem;
	}
	@media (max-width: $fourth-breakpoint) {
		font-size: 4rem;;
	}
}