$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$main-black: #110f10;
$main-grey: #63646a;
$light-grey: #c7c9d1;
$white: #fff;
$red: #EC3F27;

$first-breakpoint: 2500px;
$second-breakpoint: 1800px;
$third-breakpoint: 1610px;
$fourth-breakpoint: 1430px;
$fifth-breakpoint: 975px;
$sixth-breakpoint: 675px;

%--uppercase {
	text-transform: uppercase;
}
