/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

@import "setup";
@import "utils";
@import "typography";

body {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  min-height: 100vh;
  padding-top: 100px;
}
.menu {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 0;
  background: $main-black;
  align-items: center;
  transition: top .5s ease-in-out;
  z-index: 999;
  &__link {
    padding: 20px;
    &:hover {
      color: $red;
    }
  }
  &__btn {
    background: none;
    border: none;
  }
  &.show {
    top: 0;
  }
}
.close-btn {
  position: absolute;
  top: 50px;
  right: 100px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jQuery {
  width: 70px;
  height: 70px;
}
.main-image {
  height: 1280px;
  width: 900px;
  position: relative;
}
.wrapper {
  max-width: 2556px;
  margin: 0 auto;
}
.main-header {
  height: 100vh;
  padding-top: 200px;
  position: relative;
}
.main-navigation {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.headline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  &__img {
    flex-basis: 40%;
    position: relative;
    left: 100px;
    &__photo--second {
      position: absolute;
      top: 5%;
      left: 10%;
    }
  }
  &__text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    width: 40%;
    left: 0px;
    padding-left: 50px;
    background-color: rgba(255,255,255,0.4);    
    &__header {
      margin: 10px;
    }
    &__subheader {
      position: relative;
      left: 210px;
      &::before {
        content:"";
        display: block;
        background-color: $main-black;
        height: 1px;
        width:197px;
        position: absolute;
        top: 50%;
        left:-200px;
        transform: translateY(50%);
      }
    }
  }
}
.btn {
  color: $white;
  background: $main-black;
  border-radius: 50%;
  padding: 10px 23px;
  margin: 0 15px;
}
.list {
  display: flex;
  flex-flow: row wrap;
  &--vertical {
    flex-flow: column wrap;
  }
  &__item {
    margin: 0;
  }
}
.main-social {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 30px;
  &__list {
    position: absolute;
    bottom: 0;
    flex-flow: column wrap;
  }
}
.icon__flipped {
  transform: rotate(180deg)
}
.social__link {
  padding: 50px;
}
.social__icon {
  padding: 50px;
  &:hover {
    color: $red;
  }
}
.contact {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  &__headline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__form {
    flex: 0 0 50%;
    padding: 0 100px 0 0;
  }
  &__input {
    border: none;
    width: 100%;
    border-bottom: 5px solid $main-black;
  }
  &__item {
    text-align: right;
    align-items: flex-end;
    padding: 0;
    &--connect{
      margin: 0;
    }
  }
  &__field {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  &__submit {
    font-size: 5rem;
    padding: 50px;
    text-align: left;
    background: $white;
    border: 5px solid $main-black;
    margin: 80px 0 0;
    &:hover {
      color: $red;
      border: 5px solid $red;
    }
  }
}
.project {
  position: relative;
  width: 80%;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 0;
    &__item {
      padding: 0 20px;
      &:nth-child(-n + 1){
        padding-left: 0;
      }
    }
    &__link {
      display: flex;
      flex: 0 0 50%;
      justify-content: space-around;
      align-items: flex-start;
      a:hover {
        color: $red;
      }
      a:hover .btn {
        background-color: $red;
      }
    }
  }
  &__about {
    display: flex;
    width: 70%;
    &__nav {
      width: 500px;
      padding-top: 200px;
      color: $light-grey;
    }
    &__number {
      position: relative;
      right: 100px;
      color: $light-grey;
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: $light-grey;
        position: absolute;
        right: -35px;
        top: 20px;
      }
    }
  }
  &__counter {
    position: absolute;
    transform: rotate(270deg);
    margin: 0;
    left: -20px;
    bottom: 400px;
  }
  &__images {
      display: flex;
      justify-content: center;
      margin: 100px;
    }
  &__list__nav{
    padding: 15px 20px 15px 0;
    &:hover {
      color: $red;
      font-weight: bold;
    }
  }
}
.skills {
  width: 80%;
  margin: 0 auto;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 500px);
  }
  .fa-github, .fa-css3, .fa-html5, .fa-gulp,
  .fa-git, .fa-react, .fa-sass, .fa-js-square {
    font-size: 15rem;
    margin: 50px;
  }
  &__header {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    // transform: translateY(50%)
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover .skills__label {
      opacity: 1;
    }
  }
  &__label {
    opacity: 0;
    position: absolute;
    left: 110px;
    top: 80px;
    width: 270px;
    height: 160px;
    background: white;
    z-index: 10;
    text-align: center;
    color: $red;
    font-size: 3rem;
    transition: opacity .5s ease-in-out; 
  }
}