/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

@import "setup";
@import "utils";
@import "typography";

div img {
  width: 100%;
  height: 100%;
  min-width: 0;
}
textarea {
  resize: none;
}
html{
  font-size: 62.5%;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  @media (max-width: $sixth-breakpoint) {
    color: $red
  }
}
section {
  min-height: 100vh;
  padding-top: 100px;
  @media (max-width: $fourth-breakpoint) {
		padding-top: 0px;
  }
}
.logo {
  max-width: 150px;
  @media (max-width: $fifth-breakpoint) {
    display: none;
  }
}
.menu {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 0;
  background: $main-black;
  align-items: center;
  transition: top .5s ease-in-out;
  z-index: 999;
  &__link {
    padding: 20px;
    &:hover {
      color: $red;
    }
  }
  &__btn {
    background: none;
    border: none;
    padding: 25px;
    right: 220px;
    position: fixed;
    z-index: 999;
    &:hover {
      color: $red;
    }
    @media (max-width: $second-breakpoint) {
      right: 135px;
    }
    @media (max-width: $fourth-breakpoint) {
		  right: 10px;
    }
    @media (max-width: $fourth-breakpoint) {
		  right: 0;
    }
  }
  &.show {
    top: 0;
  }
}
.close-btn {
  position: absolute;
  right: 220px;
  padding: 25px;
  top: 20px;
  @media (max-width: $second-breakpoint) {
    right: 135px;
  }
  @media (max-width: $fourth-breakpoint) {
    right: 10px;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jQuery {
  width: 70px;
  height: 70px;
  @media (max-width: $first-breakpoint) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: $third-breakpoint) {
    width: 30px;
    height: 30px;
  }
}
.main-image {
  height: 80vh;
  width: 90%;
  position: relative;
}
.wrapper {
  max-width: 2556px;
  width: 85%;
  margin: 0 auto;
}
.main-header {
  min-height: 100vh;
  padding-top: 200px;
  position: relative;
  @media (max-width: $first-breakpoint) {
		padding-top: 150px;
  }
  @media (max-width: $second-breakpoint) {
		padding-top: 100px;
  }
  @media (max-width: $fifth-breakpoint) {
    padding-top: 50px
  }
}
.main-navigation {
  position: absolute;
  top: 100px;
  right: -50px;
  left: -60px;
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  @media (max-width: $first-breakpoint) {
		top: 50px;
  }
  @media (max-width: $second-breakpoint) {
		top: 20px;
	}
}
.headline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  &__img {
    flex-basis: 40%;
    position: relative;
    left: 100px;
    @media (max-width: $fourth-breakpoint) {
		  flex-basis: 50%;
    }
    @media (max-width: $fifth-breakpoint) {
      left: 0;
    }
    &__photo--second {
      position: absolute;
      top: 5%;
      left: 10%;
    }
  }
  &__text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    flex-basis: 40%;
    left: 0px;
    padding-left: 50px; 
    &__header {
      margin: 10px;
      @media (max-width: $sixth-breakpoint) {
        position: absolute;
        top: -180px;
        margin: 0;
        text-shadow: 0 0 1px $red;
      }
    }
    &__subheader {
      position: relative;
      left: 210px;
      &::before {
        content:"";
        display: block;
        background-color: $main-black;
        height: 1px;
        width:197px;
        position: absolute;
        top: 50%;
        left:-200px;
        transform: translateY(50%);
      }
    }
    @media (max-width: $third-breakpoint) {
		  padding-left: 70px;
    }
    @media (max-width: $fifth-breakpoint) {
      padding-left: 0;
    }
    @media (max-width: $fifth-breakpoint) {
      padding-right: 30px;
    }
  }
  @media (max-width: $fourth-breakpoint) {
		justify-content: flex-start;
  }
  @media (max-width: $sixth-breakpoint) {
    display: block;
    padding-bottom: 70px;
    margin-bottom: 50px;
  }
}
.btn {
  justify-content: center;
  align-items: center;
  color: $white;
  background: $main-black;
  border-radius: 50%;
  padding: 10px 23px;
  margin: 0 15px;
  transition: transform .5s ease-in-out;
  &:hover {
    transform: rotate(90deg); 
    background: $red;
  }
  @media (max-width: $first-breakpoint) {
    padding: 8px 15px;
  }
  @media (max-width: $fourth-breakpoint) {
		display: none;
  }
}
.list {
  display: flex;
  flex-flow: row wrap;
  &__item {
    margin: 0;
  }
}
.main-social {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 30px;
  left: -50px;
  &__list {
    position: absolute;
    bottom: 0;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 0;
    @media (max-width: $fifth-breakpoint) {
      flex-direction: row;
    }
  }
  @media (max-width: $fifth-breakpoint) {
    bottom: 20px;
    left: -20px;
  }
  @media (max-width: $sixth-breakpoint) {
    bottom: 0;
  }
}
.social__link {
  padding: 50px 0;
  @media (max-width: $third-breakpoint) {
    padding: 20px 0;
  }
}
.social__icon {
  padding: 50px;
  &:hover {
    color: $red;
  }
  @media (max-width: $fifth-breakpoint) {
    padding: 20px;
  }
}
.contact {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  position: relative;
  &__headline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__form {
    flex: 0 0 50%;
    padding: 0 100px 0 0;
    @media (max-width: $fourth-breakpoint) {
      flex: 1 1 100%;
      padding: 0;
    }
  }
  &__input {
    border: none;
    width: 100%;
    border-bottom: 5px solid $main-black;
    @media (max-width: $third-breakpoint) {
		  border-bottom: 3px solid $main-black;
	  }
    &:focus {
      border-bottom: 5px solid $red;
      @media (max-width: $third-breakpoint) {
		    border-bottom: 3px solid $red;
	    }
    }
  }
  &__item {
    text-align: right;
    align-items: flex-end;
    padding: 0;
    &--connect{
      margin: 0;
    }
  }
  &__field {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media(max-width: $first-breakpoint) {
      margin-bottom: 0px;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    @media (max-width: $fourth-breakpoint) {
      position: absolute;
      right: 5px; 
      bottom: 45px;
    }
    @media (max-width: $sixth-breakpoint) {
      position: static;
      margin-top: 25px;
    }
  }
  &__submit {
    font-size: 5rem;
    text-align: left;
    background: $white;
    border: 5px solid $main-black;
    margin: 80px 0 0 10px;
    padding: 50px;
    @media (max-width: $first-breakpoint) {
      font-size: 4rem;
      padding: 30px 50px;
    }
    @media (max-width: $third-breakpoint) {
      font-size: 2rem;
      padding: 20px 30px;
      border: 3px solid $main-black;
      margin-top: 30px;
    }
    @media (max-width: $fourth-breakpoint) {
      margin-top: 50px;
    }
    &:hover {
      color: $red;
      border: 3px solid $red;
    }
  }
  &__email {
    display: flex;
    margin: 50px 0;
    align-items: center;
    &__address {
      margin: 0 0 0 20px;
      @media (max-width: $sixth-breakpoint) {
        display: none;
      }
    }
    &:hover, &__address:hover {
    color: $red;
    }
    @media (max-width: $third-breakpoint) {
      margin: 20px 0;
    }
  }
  @media (max-width: $first-breakpoint) {
		padding: 0 45px 50px 45px;
  }
  @media (max-width: $third-breakpoint) {
		padding-bottom: 50px;
  }
  @media (max-width: $sixth-breakpoint) {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
}
.project {
  position: relative;
  width: 85%;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 0;
    &__item {
      padding: 0 20px;
      &:nth-child(-n + 1){
        padding-left: 0;
      }
      @media(max-width: $third-breakpoint) {
        padding: 0 10px 0 0;
      }
    }
    &__link {
      display: flex;
      flex: 0 0 50%;
      justify-content: space-around;
      align-items: flex-start;
      a:hover {
        color: $red;
      }
      a:hover .btn {
        background-color: $red;
        transform: rotate(90deg);      
      }
      @media (max-width: $sixth-breakpoint) {
        width: 100%;
        margin-top: 30px;
        justify-content: space-around;
      }
    }
    @media (max-width: $fourth-breakpoint) {
		  padding: 0px;
    }
    @media (max-width: $sixth-breakpoint) {
      flex-direction: column;
    }
  }
  &__about {
    display: flex;
    width: 90%;
    @media (max-width: $fifth-breakpoint) {
      margin-left: 50px;
    }
    &__nav {
      width: 500px;
      padding: 0;
      color: $light-grey;
      @media (max-width: $fifth-breakpoint) {
        display: none;
      }
    }
    &__number {
      position: relative;
      right: 50px;
      top: -10px;
      color: $light-grey;
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: $light-grey;
        position: absolute;
        right: -35px;
        top: 18px;
        @media (max-width: $third-breakpoint) {
          top: 15px;
        }
      }
      @media (max-width: $sixth-breakpoint) {
        display: none;
      }
    }
    @media (max-width: $sixth-breakpoint) {
      width: 100%;
      margin: 0;
      padding: 15px;
    }
  }
  &__images {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    &__mobile {
      align-self: center;
      @media (max-width: $sixth-breakpoint) {
        display: none;
      }
    }
  }
  &__list__nav{
    padding: 15px 20px 15px 0;
    &:hover {
      color: $red;
      font-weight: bold;
    }
  }
}
.skills {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(3, minmax(20vh, maxcontent));
    justify-content: center;
    @media (max-width: $fifth-breakpoint) {
      grid-template-columns: repeat(3, 30%);
    }
    @media (max-width: $fifth-breakpoint) {
      grid-template-columns: repeat(2, 50%);
    }
  }
  .fa-github, .fa-css3, .fa-html5, .fa-gulp,
  .fa-git, .fa-react, .fa-sass, .fa-js-square {
    font-size: 15rem;
    margin: 50px;
  }
  &__header {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    color: $main-grey;
    @media (max-width: $fifth-breakpoint) {
      grid-row: 2;
    }
    @media (max-width: $fifth-breakpoint) {
      grid-row: 3;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover .skills__label {
      opacity: 1;
    }
  }
  &__label {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 65%;
    right: 0;
    background: white;
    z-index: 10;
    text-align: center;
    color: $main-grey;
    transition: opacity .5s ease-in-out; 
    @media (max-width: $fifth-breakpoint) {
      opacity: 1;
      color: $main-black
    }
  }
    @media (max-width: $fifth-breakpoint) {
    margin-bottom: 100px;
  }
}